.category-header-meta-wrapper {
    flex-direction: column;
    top: 40% !important;
}
.term-description {
    display: none;
}
.category-meta-container {
    text-align: center;
}
.category-meta-container .category-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color: $light;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}
.category-meta-container .category-description-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: $light;
    margin: 0 auto;
    width: 80%;
}
.category-header-image-wrapper {
    height: 500px;
}
.subcategories-container {
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100px;
    margin-top: -60px;
    position: sticky;
    width: 100%;
    padding: 60px 0;
}
.subcategories-title-wrapper .subcategories-title {
    font-size: 26px;
    font-weight: 800;
    font-style: italic;
    line-height: 26px;
    color: $dark;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.subcategories-container .subcategory-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 20px;
    color: $dark;
}
.subcategories-container .subcategory-title-active{
    color: $theme-color;
}
.subcategory-item-wrapper a {
    text-decoration: none;
}
.subcategory-item-wrapper {
    text-align: center;
    margin: 0 30px;
}

.secondary-filter {
    display: none;
    flex-wrap: wrap;
}
.secondary-filters-container .active-secondary {
    border-color: $theme-color;
    color: $theme-color;
}
.woocomerce-filters-container {
    width: 1136px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.loading-container{
    display: none;
}
.loading-image {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-image img {
    width: 50px;
}
.main-filter{
    padding: 15px 16px;
    color: $dark;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    background-color: #00000033;
    border-radius: 4px;
    margin-right: 11px;
    cursor: pointer;
}
.main-filters-container .active {
    background-color: $theme-color;
    opacity: 1;
    color: $light;
}
.main-filters-container {
    margin-bottom: 10px;
    display: flex;
}
.secondary-filter-button{
    cursor: pointer;
    padding: 15px 16px;
    color: $dark;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.4);
}
.woocommerce-ordering {
    display: none;
}
.woocommerce-result-count {
    display: none;
}
.shop-views-filter {
    display: none;
}
.logo-subcategory-dark img {
    height: 60px;
}
@media (max-width: 1136px){
    .subcategories-title-wrapper .subcategories-title{
        margin-top: 60px;
    }
}
@media (max-width: 1024px){
    .category-header-meta-wrapper {
        top: 0 !important;
    }
    .woocomerce-filters-container {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .filter-wrapper {
        margin: 0 20px;
    }
}
@media (max-width: 600px){
    .subcategories-container {
        padding: 20px 0;
        margin-top: 0;
        min-height: auto;
    }
    .subcategories-title-wrapper .subcategories-title{
        font-size: 20px;
        line-height: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .subcategory-item-wrapper {
        margin: 0 15px;
    }
    .logo-subcategory-dark img {
        width: auto;
        height: 40px;
    }
    .subcategory-title-wrapper {
        font-size: 12px;
    }
    .main-filters-container .main-filter,
    .secondary-filters-container .secondary-filter-button{
        padding: 10px 10px;
    }
    .shop-views-filter input[type=range]{
        -webkit-appearance: none;
        height: 2px;
    }
    .shop-views-filter {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        input[type=range]{
            -webkit-appearance: none;
            height: 2px;
            background-color: $dark;
            width: calc(100% - 40px);
            margin: 0 auto;
        }
        input[type=range]::-webkit-slider-thumb{
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: $dark;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -1px;
            position: relative;
        }
        .filter-views-options {
            width: calc(100% - 40px);
            margin: 15px auto;
            display: flex;
            justify-content: space-between;
        }
    }
    .woocommerce .products .range-image .wp-post-image {
        height: 187px;
        width: 146px;
        margin: 0 auto;
    }
    .subcategories-container .subcategory-title {
        font-size: 12px;
        line-height: 12px;
    }
    .category-meta-container .category-title {
        font-size: 19px;
        line-height: 19px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .category-meta-container .category-description-text {
        font-size: 12px;
        line-height: 14px;
    }
    .category-header-image-wrapper {
        height: 310px;
    }
    .filter-general-container {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $light;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }
}