.form-suscribe-container {
    background-color: $dark;
}
.form-suscriber-wrapper {
    height: 180px;
    width: 1136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadcrumbs-wrapper {
    margin-bottom: 40px;
}
.breadcrumbs-wrapper .breadcrumbs a,
.breadcrumbs-wrapper .breadcrumbs span{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: none;
    color: $dark;
}
.breadcrumbs-wrapper .breadcrumbs a {
    margin: 0 10px;
}
.blogs-wrapper .blog-question {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: $dark;
}
.blogs-wrapper .blog-question img {
    display: none;
}
.blogs-wrapper .blog-description {
    margin-top: 25px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: $dark;
}

.blogs-component {
    width: 1136px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
}
.blogs-container {
    border-top: 2px solid #00000020;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}
.social-media-container {
    max-width: 1136px;
    margin: 0 auto;
}
.social-media {
    width: fit-content;
    margin: 0 auto;
    display: flex;
}
.social-media-image-wrapper {
    margin: 0 20px;
}
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-links a{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: $dark;
    text-decoration: none;
    margin: 5px 2px;
}
.category-highlights-slider {
    display: none;
}
.hide {
    display: none !important;
}
.category-highlights-title-slider p {
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    font-weight: 800;
    color: $dark;
    margin: 30px 0;
    text-align: center; 
    text-transform: uppercase;
}

@media (max-width: 1136px){
.form-suscriber-wrapper {
   padding: 0 20px;
   width: auto;
}
.blogs-component-container {
    padding: 0 20px;
}
.blogs-component {
    width: auto;
}
.blogs-container {
    grid-template-columns: repeat(1,1fr);
    border-top: 1px solid #00000033;
    padding-top: 0;
    grid-gap: 0;
}
.blog-description {
    display: none;
}
.blogs-wrapper .blog-question {
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.blogs-wrapper .blog-question img {
    display: block;
}
.blogs-component-container {
    padding: 0;
}
.breadcrumbs-wrapper,
.blogs-wrapper{
    padding: 18px 20px;
}
.blogs-wrapper {
    border-bottom: 1px solid #00000033;;
}
.breadcrumbs-wrapper {
    margin-bottom: 0;
}
.blogs-component {
    margin-top: 0;
}
}
@media (max-width: 600px){
    .category-highlights-slider {
        display: block;
    }
    .category-highlights-slider .product_type_simple {
        padding: 14px 0 !important;
        font-size: 12px !important;
    }
    .category-highlights-slider .woocommerce .products {
        z-index: 1;
        margin: 0 20px;
    }
    .category-highlights-slider .woocommerce .products .product {
        width: 100% !important;
        margin: 0 20px !important;
        margin-bottom: 30px !important;
        text-align: center;
        min-height: 450px;
    }
    .category-highlights-slider .flickity-page-dots {
        bottom: 0;
    } 
    .category-highlights-slider .flickity-page-dots .dot {
        background-color: $dark;
        opacity: 1;
        width: 7px;
        height: 7px;
    }
    .category-highlights-slider .flickity-page-dots .is-selected{
        width: 32px;
        border-radius: 4px;
    }
    .category-highlights-slider .woocommerce-loop-product__title {
        text-align: left;
    }
}
