.footer-page {
    background-color: $dark;
}
.footer-container {
    height: 120px;
    width: fit-content;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list-languages .js-wpml-ls-item-toggle,
.list-languages .wpml-ls-sub-menu a{
    background-color: $dark !important;
    color: $light !important;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
.list-languages .js-wpml-ls-item-toggle:hover,
.list-languages .wpml-ls-sub-menu a:hover{
    color: $light !important;
}
.copyright-text {
    color: $light;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

@media (max-width: 768px) {
    .footer-container {
        height: 64px;
    }
    .copyright-text {
        font-size: 10px;
        line-height: 10px;
    }
    .list-languages .js-wpml-ls-item-toggle,
    .list-languages .wpml-ls-sub-menu a{
        font-size: 10px;
        line-height: 10px;
}
}