$dark:#000;
$light:#fff;
$theme-color: #D5822F;
$font-family: 'Montserrat';
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	src: URL("assets/fonts/Montserrat-Light.ttf") format("truetype"); 
    font-weight: 300;
  }
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	src: URL("assets/fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-weight: 400;
  }
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	src: URL("assets/fonts/Montserrat-Medium.ttf") format("truetype"); 
    font-weight: 500;
  }
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	src: URL("assets/fonts/Montserrat-Bold.ttf") format("truetype"); 
    font-weight: 700;
}
img{
	object-fit: cover;
  	object-position: center;
}
.page .entry-title {
    display: none;
}
* {
    font-family: $font-family;
    margin: 0;
	padding: 0;
}
button {
    background-color: transparent;
    outline: none;
    border: none
}
/*  header styles */
@import "header-promotion.scss";

/* main menu */
@import "main-menu.scss";

/* inicio-page */
@import "inicio-page.scss";

/* footer-section */
@import "footer-section.scss";